ul.about-services
	li #[span.emoji.emoji-design]Visual design
		ul.about-services-list
			li User interface
			li Websites &amp; platforms
			li Interaction
			li Illustration
			li Graphic design
	li #[span.emoji.emoji-brand]Identity
		ul.about-services-list
			li Logos
			li Brand systems
			li Naming
			li Attributes &amp; vision
			li Environment
	li #[span.emoji.emoji-strategy]Strategy
		ul.about-services-list
			li User experience
			li Art direction
			li Design sprints
			li Content planning
			li Wireframes
			li Storytelling
	li #[span.emoji.emoji-dev]Development
		ul.about-services-list
			li HTML
			li CSS
			li Prototypes
			li Patterns
	li #[span.emoji.emoji-etc]Etcetera
		ul.about-services-list
			li Ads
			li Presentations
			li Business cards
			li Swag
			li That kinda thing&hellip;