div#about.section.about
	div.about-photo
		div.about-color-cover
	h1 David Carroll
	p Currently living in Corvallis, OR with #[span.emoji.emoji-family]my baby momma and our little buckaroo. I've been told I'm a generous laugher, I pretend I can still skateboard, and love exploring this big, wide #[span.emoji.emoji-world]world.
	p #[a(href="https://www.instagram.com/p/BXBlnH8B1UU/" target="_blank") #[span.emoji.emoji-question]Where does "Hazeltine" come from?]
	p I've been in the business of brand and digital design for over 10 years, and doing it for fun even longer #[span.emoji.emoji-laptop]. These days I get excited about building scalable brand systems, planning and executing user-friendly ux/ui, and generally just helping folks reach the next step in their project, whatever that may look like.

	p #[a(href="javascript:void(1);" id="about-timeline-button") #[span.emoji.emoji-arrow-down]Work / life timeline]
	
	include about-timeline.pug

	p #[a(href="javascript:void(1);" id="about-services-button") #[span.emoji.emoji-arrow-down]List of services]

	include about-services.pug