div#about.section.about
	div.about-color-cover
	div.about-photo
	p I've been in the business of brand and digital design for over 10 years, and doing it for fun even longer #[span.emoji &#x1F468;&#x200D;&#x1F4BB;]. These days I get excited about building scalable brand systems, planning and executing user-friendly ux/ui, and generally just helping folks reach the next step in their project, whatever that may look like.
	p Currently living in Corvallis, OR with #[span.emoji &#x1F468;&#x200D;&#x1F469;&#x200D;&#x1F466;]my baby momma and our little buckaroo. I've been told I'm a generous laugher, I pretend I can still skateboard, and love exploring this big, wide #[span.emoji &#x1F30E;] world.