ul.about-services
	li #[span.emoji.emoji-design]Visual design
		ul
			li user interface
			li websites &amp; platforms
			li interaction
			li illustration
			li graphic design
	li #[span.emoji.emoji-brand]Identity
		ul
			li logos
			li brand systems
			li naming
			li attributes &amp; vision
			li environment
	li #[span.emoji.emoji-strategy]Strategy
		ul
			li user experience
			li art direction
			li design sprints
			li content planning
			li wireframes
			li storytelling
	li #[span.emoji.emoji-dev]Development
		ul
			li html
			li css
			li prototypes
			li patterns
	li #[span.emoji.emoji-etc]Etcetera
		ul
			li ads
			li presentations
			li business cards
			li swag
			li that kinda thing&hellip;