.footer
	div.section
		h1.headline Let&rsquo;s work together!
		p #[a(href="https://www.vyte.in/hazeltinedesign" target="_blank") #[span.emoji.emoji-schedule]Schedule time] or #[a(href="mailto:david@hazeltine.co" target="_blank") #[span.emoji.emoji-email]email me]

	ul.section.social
		li
			a(href="https://www.linkedin.com/in/davidxcarroll/" target="_blank" alt="Linkedin" title="Linkedin")
				include ../_svg/social-linkedin.pug
		li
			a(href="https://www.dribbble.com/davidxcarroll" target="_blank" alt="Dribbble" title="Dribbble")
				include ../_svg/social-dribbble.pug
		li
			a(href="https://www.instagram.com/hazeltinedesign/" target="_blank" alt="Instagram" title="Instagram")
				include ../_svg/social-instagram.pug
		li
			a(href="https://www.upwork.com/o/profiles/users/_~01f48b6c5648c9c6e9/" target="_blank" alt="Upwork" title="Upwork")
				include ../_svg/social-upwork.pug
		li
			a(href="https://twitter.com/davidxc" target="_blank" alt="Twitter" title="Twitter")
				include ../_svg/social-twitter.pug
		li
			a(href="http://codepen.io/davidxcarroll/" target="_blank" alt="Codepen" title="Codepen")
				include ../_svg/social-codepen.pug
		li
			a(href="https://github.com/davidxcarroll" target="_blank" alt="Github" title="Github")
				include ../_svg/social-github.pug
		li
			a(href="https://www.facebook.com/hazeltinedesign/" target="_blank" alt="Facebook" title="Facebook")
				include ../_svg/social-facebook.pug
	
	.section.copyright
		p &copy;2017 Hazeltine Co &mdash; #[a(href="#") #[span.emoji.emoji-top]]

script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")

//- script(type="text/javascript" src="../_js/slick/slick.min.js")

//- slick
script
	include ../_js/slick.min.js

//- jribbble
script
	include ../_js/jribbble.min.js

script
	include ../_js/script.js