head
	title Hazeltine Design Co | Freelance brand and digital design

	meta(name="description", content="Full-time freelance design (identity, logo, website, app, you name it)")
	meta(name="keywords" content="design,logo,brand,identity,webdesign,mobile,app,frontend,rename,naming,html,css,oregon,corvallis,portland,seattle,northwest")
	meta(name="viewport", content="width=device-width, initial-scale=1")

	meta(name="google-site-verification" content="nVN1SbZJF-LvcgtCqLU851oOmBq92tAdLwJw8skVoVA")

	link(rel="stylesheet", href="css/style.css")

	<!--[if lt IE 8]>
	link(rel='stylesheet', href='css/legacy.css')
	<![endif]-->

	link(rel="icon", type="image/x-icon", href="img/_icons/favicon.ico")
	link(rel="apple-touch-icon", href="img/_icons/apple-touch-icon.png")

	link(href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Arvo:400|Space+Mono|Coustard:900|Ranga:700" rel="stylesheet")