div.section.availability
	p #[a(href="mailto:david@hazeltine.co" class="external" target="_blank") #[span.emoji.emoji-availability]Currently taking new projects]

div.logo
	include ../_svg/logo-hazeltine.pug
	span.logo-label.logo-label-1 .co
	span.logo-label.logo-label-2 brand &amp; digital design

div.section.intro
	div.intro-body
		p I&rsquo;m David Carroll, a design agency of one. If you believe in good design and have a cool project, I'd love to collaborate.
	div.intro-photo
		div.about-photo.about-photo-david
			div.about-color-cover
	div.intro-links
		p #[a(href="https://www.vyte.in/hazeltinedesign" class="external" target="_blank") #[span.emoji.emoji-schedule]Schedule time] or #[a(href="mailto:david@hazeltine.co" class="external" target="_blank") #[span.emoji.emoji-email]send an email]
		p #[a(href="#about") #[span.emoji.emoji-aboutme]Jump to bio#[span.emoji.emoji-arrow-down]]