div.section.project.project-parker
	div
		.project-item.project-item-cover
			p #[a(href="http://parkerconnell.com" class="external" target="_blank") Parker Connell]
			.svg
				include ../_svg/client-parker.pug
			p.project-tags #brand
	div
		.project-item
			p.project-body