div.section.project.project-improper
	div
		.project-item.project-item-cover
			p Improper City
			.svg
				include ../_svg/client-improper.pug
			p.project-tags #brand
	div
		.project-item
			p.project-body