div.section.project.project-magnana
	div
		.project-item.project-item-cover
			p Magnana
			.svg
				include ../_svg/client-magnana.pug
			p.project-tags #rename #brand #ux #ui #game #website #illustration #copywriting #marketing #frontend
	div
		.project-item
			p.project-body When I was first introduced to this project, it was an already playable demo with an impressive infrastructure. However,  as the love child of two badass engineers it wasn&rsquo;t much to look at (not to mention the working title was "Word Fart"). After asking a few questions, it was clear that they didn&rsquo;t have much of an identity strategy, much less, any idea of how to present and market this thing. My role quickly came to include branding, illustration, copywriting, marketing, front-end development, and anything else I was able to get my hands on. I&rsquo;m proud of where it has come and it is so close to being done! Standby.