div.section.project.project-cancerq
	div
		.project-item.project-item-cover
			p #[a(href="http://cancer-q.com" class="external" target="_blank") Cancer Q]
			.svg
				include ../_svg/client-cancerq.pug
			p.project-tags #brand
	div
		.project-item
			p.project-body Terry Williams said &ldquo;an individual doesn&rsquo;t get cancer, a family does.&rdquo; Yet somehow, even in the age of information, it seems like every family must start from scratch when it comes to navigating the many options and decisions that follow. The folks at Cancer Q say that &ldquo;cancer connects us all.&rdquo; We&rsquo;re all family. And if that&rsquo;s the case, we should never have to start from scratch. The Cancer Q platform provides a feed of carefully curated resources from others who have been there, and becomes a hub for any additional resources you find along the way. &ldquo;Together is courage.&rdquo;