div.section.project.project-wefoughtback
	div
		.project-item.project-item-cover
			p We Fought Back
			.svg
				include ../_svg/client-wefoughtback.pug
			p.project-tags #brand #system #presentation
	div
		.project-item
			p A passion project from the folks at #[a(href='http://humandesign.com' target='_blank') Human Design], We Fought Back is an effort to address the lack of simple yet effective resources to support an individual going through a traumatic time. A platform that includes not only monetary donations, but aims to offer emotional support as well. The story was baked into the brand system, which can be personalized to accommodate an infinite number of individuals. Theoretically. The app is a work in progress. Keep your eyes peeled! As a senior designer at #[a(href='http://humandesign.com' target='_blank') Human Design], I worked on the brand system and storytelling for We Fought Back.