div.section.project.project-mag
	div
		.project-item.project-item-cover
			p #[a(href="http://magcollective.com" class="external" target="_blank") MAG Collective]
			.svg
				include ../_svg/client-mag.pug
			p.project-tags #brand #system #web
	div
		.project-item
			p.project-body The MAG Collective is a diverse group of hand-selected experts joining forces to create lasting impact.