div.section.project.project-parker
	div
		.project-item.project-item-cover
			p #[a(href="http://parkerconnell.com" class="external" target="_blank") Parker Connell]
			.svg
				include ../_svg/client-parker.pug
			p.project-tags #brand
	div
		.project-item
			p.project-body Parker Connell is a talented young photographer out of Dallas, TX. With a discerning eye for authenticity, his street, nature and portrait photos make otherwise average subjects appear beautiful. It's a refreshing perspective that makes me want to wander through my own streets, in no hurry, to find those hidden treasures I look past every day.