div.section.project.project-hygge
	div
		.project-item.project-item-cover
			p #[a(href="http://hyggepower.com" class="external" target="_blank") Hygge Power]
			.svg
				include ../_svg/client-hygge.pug
			p.project-tags #brand #website #story #squarespace #presentation #collateral
	div
		.project-item
			p.project-body Not only is Hygge bringing the home power outlet into the 21st century, but they&rsquo;ve made me realize there&rsquo;s so much I don&rsquo;t know about the power in my home. This Boulder startup is out to bring power to the people, by giving folks control over their usage and empowering them to truly own it. Their flagship product, OPO, a smart device that simply levels-up any outlet, is set to launch early next year. I worked closely with their team on the official &ldquo;hello world&rdquo; package to ensure their look'n'feel was strong and clear as they entered the market.
	div
		.project-item.testimonial-item
			+testimonial(
			"My experience with David was the smoothest among any brand and marketing service provider yet! That and concurrent with attention to detail, presence, flexibility and exceptional design end product for us at Hygge Power, hands down he is a part of the team!",
			"Caleb Scalf",
			"http://hyggepower.com",
			"Hygge Power")