div.projects

	h1.headline Featured work
	include project-hippo.pug
	include project-hygge.pug
	include project-launchlab.pug
	include project-rayback.pug
	include project-humanwire.pug

	//- div.section
	//- 	p #[a(href="javascript:void(1);") Load more work&hellip;#[span.emoji.emoji-arrow-down-two]]

	include project-magnana.pug
	include project-bossdrop.pug
	include project-wefoughtback.pug
	include project-cancerq.pug
	include project-parker.pug
	include project-provision.pug