div.section.project.project-improper
	div
		.project-item.project-item-cover
			p Improper City
			.svg
				include ../_svg/client-improper.pug
			p.project-tags #brand #system #interior #mural #print #illustration #collateral
	//-exterior
	div
		.project-item
			p.project-body
				img(src="../img/project-improper-space-10@2x.png")
	//-model
	div
		.project-item
			p.project-body
				img(src="../img/project-improper-space-02@2x.png")
	//-space
	div
		.project-item
			p.project-body
				img(src="../img/project-improper-space-08@2x.png")
	//-neon
	div
		.project-item
			p.project-body
				img(src="../img/project-improper-space-05@2x.png")
	div
		.project-item
			p.project-body
				img(src="../img/project-improper-space-bones@2x.png")
	div
		.project-item
			p.project-body
				img(src="../img/project-improper-space-wip@2x.png")
	div
		.project-item.testimonial-item
			+testimonial(
			"I can't overstate how incredible the service that Hazeltine Design has done for my business has been! It is rare to see original content these days but the ideas produced with Hazeltine for our brand were truly one of a kind and deeply rooted in the values of our business! There is really nothing this group cant do (I've thrown several curveball requests and all have been knocked out of the park)!",
			"Justin Riley, Co-Founder",
			"http://impropercity.com",
			"Improper City")
	div
		.project-item.testimonial-item
			+testimonial(
			"He works on another level to bring your ideas and vision to life. We would not be who we are, where we are, or where we are going without him. Our brand has a heart and identity now thanks to David. Straight bad A**!",
			"Hank Grant, Co-Founder",
			"http://impropercity.com",
			"Improper City")
	div
		.project-item
			p.project-body In 1871, travel writer Rose Kinglsey wrote about the city of Denver: &ldquo;It&rsquo;s as if the angels were carrying a city to a proper place but accidentally dropped it here.&rdquo; Improper City celebrates that divine happenstance, the improper means by which a survived in the middle of nowhere. Located in the RiNo Art District, Improper City curates Denver&rsquo;s finest food trucks, craft beer, local artists and community led events, offering space to partake, participate, or just be. From nowhere to now here.