div.section.project.project-improper
	div
		.project-item.project-item-cover
			p Improper City
			.svg
				include ../_svg/client-improper.pug
			p.project-tags #brand #system #interior #mural #print #illustration #collateral
	div
		.project-item
			p.project-body In 1871, travel writer Rose Kinglsey wrote about the city of Denver: “It&rsquo;s as if the angels were carrying a city to a proper place but accidentally dropped it here.” 