div.section.project.project-molly
	div
		.project-item.project-item-cover
			p Molly Brown
			.svg
				include ../_svg/client-molly.pug
			p.project-tags #name #brand #system #print #illustration #collateral
	div
		.project-item
			p.project-body