div.section.project.project-rayback
	div
		.project-item.project-item-cover
			p #[a(href='http://therayback.com' target='_blank') Rayback Collective#[span.emoji.emoji-arrow-external]]
			.svg
				include ../_svg/client-rayback.pug
			p.project-tags #brand #rename #system #website #collateral #signage
	div
		.project-item
			p.project-body Coming off a successful Kickstarter, the fine folks behind the Boulder Food Park needed a brand that aligned with their vision to be more than just a food park. The plan was to renovate an old warehouse space, once a beloved plumbing business run by a local guy, Marion Rayback. This man embodied the spirit of the team&rsquo;s new venture: to serve the community through hospitality and creating a space for the people to call their own. As a senior designer at #[a(href='http://humandesign.com' target='_blank') Human Design], I lead the rename, rebrand and rollout for the Rayback Collective.