div.section.project.project-bossdrop
	div
		.project-item.project-item-cover
			p #[a(href='http://bossdrop.com' target='_blank') Boss Drop#[span.emoji.emoji-arrow-external]]
			.svg
				include ../_svg/client-bossdrop.pug
			p.project-tags #brand #squarespace #collateral
	div
		.project-item
			p.project-body Everyone knows: when you defeat a boss, you get mad loot.  That&rsquo;s the idea behind this web store hocking all manner of equally fun and nerdy treasures. Building a brand identity where you&rsquo;re essentially the target audience is pretty satisfying. It&rsquo;s not every day you get to draw monster skulls and use Zelda screen grabs as a reference. This was a quick project, with just a few rounds of review on the brand and using Squarespace for its many quick yet powerful plug&rsquo;n&rsquo;play features.