div.section.project.project-improper
	div
		.project-item.project-item-cover
			p Improper City
			.svg
				include ../_svg/client-improper.pug
			p.project-tags #brand #system #interior #mural #print #illustration #collateral
	div
		.project-item
			p.project-body
				img(src="../img/project-improper-brand-01@2x.png")
	div
		.project-item
			p.project-body In 1871, travel writer Rose Kinglsey wrote about the city of Denver: &ldquo;It&rsquo;s as if the angels were carrying a city to a proper place but accidentally dropped it here.&rdquo; Improper City celebrates that divine happenstance, the improper means by which a survived in the middle of nowhere. Located in the RiNo Art District, Improper City curates Denver's finest food trucks, craft beer, local artists and community led events, offering space to partake, participate, or just be. From nowhere to now here.