div.section.project.project-provision
	div
		.project-item.project-item-cover
			p Pro Vision
			.svg
				include ../_svg/client-provision.pug
			p.project-tags #name #story #brand #website #squarespace #collateral
	div
		.project-item
			p.project-body Pro Vision is a high school football training academy which supplements a player&rsquo;s regular practice schedule. With the average school team&rsquo;s ratio of kids to coaches at least 10 to 1, Pro Vision aims to fill the gaps. Trainers work with no more than groups of six. And more important than sharing the experience of playing at the highest level, each trainer is dedicated to the person. Not just the player or the position. Equipping young people to learn the value of setting and achieving goals. Of making excellence a habit. I helped develop the identity and all essential go-to-market touchpoints.