div.section.project.project-humanwire
	div
		.project-item.project-item-cover
			p #[a(href='http://humanwire.com' target='_blank') Humanwire#[span.emoji.emoji-arrow-external]]
			.svg
				include ../_svg/client-humanwire.pug
			p.project-tags #brand #system #ux #ui #app #website #collateral
	div
		.project-item
			p.project-body I believe the average person wants to help others in need. But when it comes to giving to charities, there seems to be a disconnect. That&rsquo;s where Humanwire comes in. Their goal is to end displacement for refugees across the world by cutting out the charity, the middleman, and introduce potential donors directly to refugees. The hope is that a real, human connection is formed, driving outreach and a contagious empathy amongst the donor&rsquo;s circles. As a senior designer at #[a(href='http://humandesign.com' target='_blank') Human Design], I lead the rebrand, user experience and platform design for Humanwire.