div.section.project.project-expo
	div
		.project-item.project-item-cover
			p Expo
			.svg
				include ../_svg/client-expo.pug
			p.project-tags #brand #web
	div
		.project-item
			p.project-body Expo is a brokerage app that makes decentralized margin trading easy. Their goal is to abstract the mechanics in a way that removes the current crypto-barrier.