div.section.project.project-launchlab
	div
		.project-item.project-item-cover
			p #[a(href="http://launchlabmarketing.com" class="external" target="_blank") Launch Lab]
			.svg
				include ../_svg/client-launchlab.pug
			p.project-tags #brand #ux #ui #website #dev #presentation #collateral
	div
		.project-item
			p.project-body As with the whole cobbler&rsquo;s shoeless children thing, the 20 year resort marketing experts at Launch Lab felt that their brand and materials were lacking. A conversation about a new website lead to a larger conversation about possible shortcomings in their overall visual identity. A few rounds later, they&rsquo;re now equipped with more than a fresh look, but a brand that will allow them to compete with the big dogs and serve them for the next 20 years.