div.section.project.project-hippo
	div
		.project-item.project-item-cover
			p #[a(href="http://hippohealth.com" class="external" target="_blank") #[span.emoji.emoji-hippo-rod]Hippo Health]
			.svg
				include ../_svg/client-hippo.pug
			p.project-tags #brand #mobileapp #ux #ui #ads
	//- div
	//- 	.project-item
	//- 		p.project-body
	//- 			img(src="../img/project-hippo-logo-2@2x.png")
	div
		.project-item
			p.project-body
				img(src="../img/project-hippo-website@2x.png")
	div
		.project-item
			p.project-body
				img(src="../img/project-hippo-app-chat@2x.png")
	div
		.project-item
			p.project-body
				img(src="../img/project-hippo-app-chat-desktop@2x.png")
	div
		.project-item
			p.project-body
				img(src="../img/project-hippo-illustration@2x.png")
	div
		.project-item
			p.project-body
				img(src="../img/project-hippo-illustration-2@2x.png")
	div
		.project-item
			p.project-body
				img(src="../img/project-hippo-print-2@2x.png")
	div
		.project-item
			p.project-body
				img(src="../img/project-hippo-HITW@2x.png")
	div
		.project-item
			p.project-body Telemedicine is the future. But its been around for years now, so why isn&rsquo;t everyone using it? The doctors behind Hippo Health have a guess, and they&rsquo;re determined to prove that medical care on your phone can be just as personal as in-office care. Now we can ask those questions that didn&rsquo;t seem worth a drive to the clinic and stop self diagnosing. I joined as Creative Director to lead all design and user experience efforts for product and marketing.