div.section.project.project-magnana
	div
		.project-item.project-item-cover
			p Magnana
			.svg
				include ../_svg/client-magnana.pug
			p.project-tags #rename #brand #ux #ui #game #website #illustration #copywriting #marketing #frontend
	div
		.project-item
			p When I was first introduced to this project the working title was Word Fart. But to be fair, the two dudes responsible are badass engineers, not brand folks. That’s why they called me :) My job was to handle the look and feel of this iOS game that claims to be “Fridge magnets gone bananas!” What started as a UX/UI role came to include branding, illustration, copywriting, marketing, front-end development, and anything else I was able to get my hands on. Wearing tons of hats is easy when you’re having fun! The game is so close to being done. Standby.