div.section.testimonials
	h1 Some nice words
	div.testimonials-list
		+testimonial(
		"The work is really good, and I know it was a last minute request, so I'm grateful.",
		"Peter Vidani",
		"http://bondstreet.com",
		"Bond Street")
		+testimonial(
		"We love working with David whenever we can. He brings a ton of creativity, depth and experience to the table.",
		"Chris Kalani",
		"http://wake.com",
		"Wake")
		+testimonial(
		"David possesses a hyper-vibrant brain. This brain conjures remarkable creative work unlike anything you could imagine. Just trust me ok?",
		"Pasquale D'Silva",
		"http://thinko.com",
		"Thinko")