* {
  transition: font-size .2s ease-in-out, margin .2s ease-in-out;
}

body {
  @include media(min-width $mobile) {
    margin: 6em 0;
  }
  @include media(max-width $mobile) {
    margin: 4em 0;
  }
  font-weight: 700;
  font-style: italic;
  text-align: justify;
  animation: colorBodyPrimary 50s infinite;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

// TYPE

body {
  font-size: $base-font-size;
  font-family: $font-primary;
  font-weight: 400;
  @include media(max-width $landscape) {
    font-size: 80%;
  }
}

// LAYOUT

.wrap {
  width: 80%;
  max-width: 460px;
  margin: 0 auto;
  animation: colorTextSecondary 80s infinite;
  a {
    color: inherit;
  }
}

.section {
  @include media(min-width $mobile) {
    margin: 6em 0;
  }
  @include media(max-width $mobile) {
    margin: 4em 0;
  }
}

.project {
  height: 27em;
  .slick-prev:before,
  .slick-next:before,
  .slick-dots li button:before {
    font-family: sans-serif;
    font-style: initial;
    animation: colorTextSecondary 80s infinite;
  }
}

.project-item {
  height: 100%;
  position: relative;
}
.project-tags {
  width: 85%;
  position: absolute;
  bottom: 1em;
  left: 2em;
  font-size: .75em;
  text-transform: uppercase;
}
.project-item-cover {
  padding: 1em 2em .6em;
  animation: colorTextPrimary 50s infinite, colorBodySecondary 80s infinite;
  .svg {
    width: 64%;
    margin: 2em auto;
    svg {
      animation: colorSvgPrimary 50s infinite;
    }
  }
}

.social {
  text-align: center;
  li {
    width: 8%;
    margin: 0 3%;
    display: inline-block;
  }
}

.footer {
  @extend .wrap;
  text-align: center;
}

.logo {
  position: relative;
  .logo-label {
    position: absolute;
    bottom: 0;
  }
  .logo-label-1 {
    left: 22%;
  }
  .logo-label-2 {
    right: 0;
  }
}

svg {
  width: 100%;
  height: auto;
  animation: colorSvgSecondary 80s infinite;
}

