// NATIVE

* {
  transition: font-size .2s ease-in-out, margin .2s ease-in-out;
}

body {
  margin: 1em 0;
  font-weight: 700;
  font-style: italic;
  text-align: justify;
  animation: colorBodyPrimary 50s infinite, colorTextSecondary 80s infinite;
  overflow-x: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

// TYPE

body {
  font-size: $base-font-size;
  font-family: $font-primary;
  font-weight: 400;
  @include media(max-width $landscape) {
    font-size: 80%;
  }
}

// LAYOUT

.wrap {
  width: 90%;
  max-width: 460px;
  margin: 0 auto;
  color: currentColor;
  a {
    color: inherit;
  }
}

.section {
  margin: 6em 0;
}

// AVAILABILITY
// ============================================================

.availability {
  margin: 0 0 2em;
}

// GLOBAL
// ============================================================

.logo {
  margin: 0;
  position: relative;
  @include media(min-width $landscape) {
    margin-left: -2.2em;
  }
  .logo-label {
    position: absolute;
    bottom: 0;
  }
  .logo-label-1 {
    transform: rotate(-12deg);
    left: 22%;
    @include media(min-width $landscape) {
      top: 9.5em;
    }
    @include media(max-width $landscape) {
      top: 70%;
    }
  }
  .logo-label-2 {
    transform: rotate(-12deg);
    right: 0;
    @include media(min-width $landscape) {
      top: 6em;
    }
    @include media(max-width $landscape) {
      top: 45%;
    }
    @include media(max-width $mobile) {
      width: 50%;
    }
  }
}

.intro {
  margin-top: 4em;
}
.intro-links {
  margin-top: 2em;
}

svg {
  width: 100%;
  height: auto;
  fill: currentColor;
}

.emoji {
  font-family: $font-emoji;
  font-style: initial;
}

@each $emoji, $code in (availability,     "\1F4E2"),
                       (availability-no,  "\2716"),
                       (email,            "\1F4E9"),
                       (schedule,         "\1F4C6"),
                       (info,             "\2139"),
                       (family,           "\1F495"),
                       (world,            "\1F30E"),
                       (laptop,           "\1F468\200D\1F4BB"),
                       (testimonial,      "\1F4AC"),
                       (brand,            "\1F6A9"),
                       (design,           "\1F3A8"),
                       (strategy,         "\1F4CA"),
                       (dev,              "\1F523"),
                       (etc,              "\1F4AF"),
                       (arrow-up,         "\21E7"),
                       (arrow-down,       "\21E9"),
                       (arrow-down-two,   "\23EC"),
                       (arrow-left,       "\2B05"),
                       (arrow-right,      "\27A1"),
                       (marriage,         "\1F48D"),
                       (school,           "\1F393"),
                       (bike,             "\1F6B2"),
                       (sunrise,          "\1F304"),
                       (flash,            "\2728"),
                       (born,             "\1F423"),
                       (move,             "\1F4CD"),
                       (question,         "\2753"),
                       (top,              "\1F51D") {
  .emoji-#{$emoji}:before {
    display: inline-block;
    margin: 0 .5em;
    content: $code;
  }
}

@each $company in (hazeltine,human,truman,epipheo,waggener,amplitude,jive) {
  .emoji-#{$company} {
    display: inline-block;
    margin: 0 .5em;
  }
}

// PROJECTS
// ============================================================

.project *:active,
.project *:focus, {
  outline: 0;
}

.project .slick-list {
  overflow: visible;
}

.slick-prev:before,
.slick-next:before,
.slick-dots li button:before {
  font-family: sans-serif;
  font-style: initial;
  animation: colorTextSecondary 80s infinite;
}
.slick-prev:before,
.slick-next:before {
  opacity: 1;
}
.slick-prev,
.slick-next {
  z-index: 100;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  animation: colorTextSecondary 80s infinite, colorBodyPrimary 50s infinite;
  // animation: colorTextPrimary 50s infinite, colorBodySecondary 80s infinite;
  box-shadow: inset 0 0 0 1px currentColor, 0 5px 0 0 currentColor;
  &::before {
    animation: colorTextSecondary 80s infinite;
    // animation: colorTextPrimary 50s infinite, colorBodySecondary 80s infinite;
  }
}

.slick-arrow {}

.slick-dots li {
  margin: 0;
}

// PROJECT SELECTORS

.project {
  height: 27em;
}

.project-item {
  height: 100%;
  position: relative;
  padding: 1em 2em .6em;
  // box-shadow: inset 0 0 0 2px currentColor;
  // border-radius: $border-radius;
}
.project-item-cover {
  animation: colorTextPrimary 50s infinite, colorBodySecondary 80s infinite;
  box-shadow: none;
  .svg {
    width: 64%;
    margin: 2em auto;
    svg {
      fill: currentColor;
    }
  }
}
.project-tags {
  width: 85%;
  position: absolute;
  bottom: 1em;
  left: 2em;
  font-size: .75em;
  text-transform: uppercase;
}
.project-body {
  margin: 0 0 1em 0;
  font-family: $font-primary;
  font-style: initial;
  font-size: .9em;
  line-height: 1.6em;
  text-align: left;
}

.more-work {
  display: none;
}

// TESTIMONIALS
// ============================================================

.testimonial-item {
  margin: 0 .4em 1em;
  blockquote {
    margin: 0 0 1em;
  }
  cite {
    font-size: .75em;
    text-transform: uppercase;
  }
}

.testimonials {
  .slick-next,
  .slick-prev {
    top: 21px;
  }
}

// .testimonials .slick-list {
//   overflow: visible;
// }

// ABOUT
// ============================================================

.about-photo {
  width: 100%;
  height: 25em;
  position: relative;
  background-image: url('../img/david-carroll-about@2x.jpg');
  background-color: currentColor;
  background-size: cover;
  background-blend-mode: screen;
  // border-radius: $border-radius;
}
.about-color-cover {
  width: 100%;
  height: 25em;
  position: absolute;
  animation: colorBodyPrimary 50s infinite;
  mix-blend-mode: multiply;
  // border-radius: $border-radius;
}

.about-timeline {
  display: none;
  text-align: left;
  margin: 0 0 4em;
  .timeline-item {
    margin: 0 0 1em;
  }
  div {
    display: inline-block;
    vertical-align: top;
  }
  p {
    margin: 0;
  }
  .year {
    width: 18%;
    text-align: right;
  }
  .visual {
    width: 10%;
    font-size: 1.5em;
    text-align: center;
    svg {
      width: 70%;
      height: auto;
      display: inline;
    }
  }
  .event {
    width: 67%;
  }
}

ul.about-services {
  display: none;
  li {
    margin: 0 0 2em;
    ul, li {
      list-style: circle;
    }
    ul li {
      margin: 0 0 0 3em;
    }
  }
}

// JRIBBBLE
// ============================================================

.shots {
  .shot {
    width: 46%;
    margin: 0 4% 4% 0;
    display: inline-block;
    // border-radius: $border-radius;
    overflow: hidden;
    box-shadow: -.3em .3em 0 0 currentColor;
    img {
      width: 100%;
    }
  }
}

// FOOTER
// ============================================================

.footer {
  @extend .wrap;
  text-align: center;
}

// SOCIAL
// ============================================================

.social {
  text-align: center;
  li {
    width: 8%;
    margin: 0 3%;
    display: inline-block;
  }
}

