// NATIVE

// * {
//   transition: font-size .2s ease-in-out, margin .2s ease-in-out;
// }

body {
  margin: 1em 0;
  animation: colorBodyPrimary 50s infinite, colorTextSecondary 80s infinite;
  overflow-x: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.external {
  cursor: alias;
}

.headline {
  font-family: $font-headline;
  transform: rotate(-12deg);
  @include media(min-width $landscape) {
    margin: -.5em 0 1em -.8em;
    font-size: 3em;
  }
  @include media(max-width $landscape) {
    margin: 0 0 1.5em -.2em;
    font-size: 2.5em;
  }
}

.projects .headline {
  margin-bottom: -1em;
}
.about .headline {
  margin-top: -.2em;
}

// LAYOUT

.wrap {
  width: 90%;
  max-width: 460px;
  margin: 0 auto;
  color: currentColor;
  a {
    color: inherit;
  }
}

.section {
  margin: 6em 0;
}

// AVAILABILITY
// ============================================================

.availability {
  margin: 0 0 2em;
}

// GLOBAL
// ============================================================

.logo {
  margin: 0;
  position: relative;
  @include media(min-width $landscape) {
    margin-left: -2.2em;
  }
  .logo-label {
    position: absolute;
    bottom: 0;
  }
  .logo-label-1 {
    transform: rotate(-12deg);
    left: 22%;
    @include media(min-width $landscape) {
      top: 9.5em;
    }
    @include media(max-width $landscape) {
      top: 70%;
    }
  }
  .logo-label-2 {
    transform: rotate(-12deg);
    right: 0;
    @include media(min-width $landscape) {
      top: 6em;
    }
    @include media(max-width $landscape) {
      top: 45%;
    }
    @include media(max-width $mobile) {
      width: 50%;
    }
  }
}

.intro {
  position: relative;
  margin-top: 4em;
}
.intro-photo {
  position: absolute;
  @include media(min-width $landscape) {
    width: 11.5em;
    height: 11.5em;
    top: -7em;
    right: -2em;
  }
  @include media(max-width $landscape) {
    width: 9em;
    height: 9em;
    top: -6em;
    right: 0;
  }
  .about-photo, .about-color-cover {
    width: 100%;
    height: 100%;
    border-radius: 10em;
  }
}
.intro-body {
  width: 65%;
  @extend .font-body;
}
.intro-links {
  margin-top: 1em;
}

svg {
  width: 100%;
  height: auto;
  fill: currentColor;
}

.emoji {
  font-family: $font-emoji;
  font-style: initial;
  font-size: 1rem;
}

@each $emoji, $code in (availability,     $availability),
                       (availability-no,  $availability-no),
                       (email,            $email),
                       (schedule,         $schedule),
                       (info,             $info),
                       (aboutme,          $aboutme),
                       (family,           $family),
                       (world,            $world),
                       (laptop,           $laptop),
                       (testimonial,      $testimonial),
                       (brand,            $brand),
                       (design,           $design),
                       (strategy,         $strategy),
                       (dev,              $dev),
                       (etc,              $etc),
                       (arrow-up,         $arrow-up),
                       (arrow-down,       $arrow-down),
                       (arrow-down-curve, $arrow-down-curve),
                       (arrow-down-two,   $arrow-down-two),
                       (arrow-left,       $emoji-arrow-left),
                       (arrow-right,      $emoji-arrow-right),
                       (plus,             $plus),
                       (minus,            $minus),
                       (marriage,         $marriage),
                       (school,           $school),
                       (bike,             $bike),
                       (sunrise,          $sunrise),
                       (flash,            $flash),
                       (born,             $born),
                       (move,             $move),
                       (question,         $question),
                       (top,              $top) {
  .emoji-#{$emoji}:before {
    display: inline-block;
    margin: 0 .5em;
    content: $code;
  }
}

@each $company in (hazeltine,human,truman,epipheo,waggener,amplitude,jive) {
  .emoji-#{$company} {
    display: inline-block;
    margin: 0 .5em;
  }
}

// PROJECTS
// ============================================================

*:active, *:focus {
  outline: 0;
}

// @include media(min-width $landscape) {
//   .project .slick-list {
//     overflow: visible;
//   }
// }

.slick-prev:before,
.slick-next:before,
.slick-dots li button:before {
  font-family: sans-serif;
  font-style: initial;
  animation: colorTextSecondary 80s infinite;
}
.slick-prev:before,
.slick-next:before {
  opacity: 1;
}
.slick-prev,
.slick-next {
  top: 48px;
  // z-index: 100;
  // width: 30px;
  // height: 30px;
  // border-radius: 100px;
  // animation: colorTextSecondary 80s infinite, colorBodyPrimary 50s infinite;
  // animation: colorTextPrimary 50s infinite, colorBodySecondary 80s infinite;
  // box-shadow: inset 0 0 0 .8px currentColor, 0 0 0 .8px currentColor, 0 5px 0 0 currentColor;
  &::before {
    font-size: 20px;
    animation: colorTextSecondary 80s infinite;
    // animation: colorTextPrimary 50s infinite, colorBodySecondary 80s infinite;
  }
}

.slick-dots li {
  margin: 0;
}

// PROJECT SELECTORS

.project {
  // height: 27em;
}

.project-item {
  // height: 100%;
  position: relative;
  padding: 1em 2em .6em;
  // box-shadow: inset 0 0 0 2px currentColor;
  // border-radius: $border-radius;
}
.project-item-cover {
  @include media(min-width $landscape) {
    height: 28.75em;
  }
  @include media(max-width $landscape) {
    height: 23em;
  }
  animation: colorTextPrimary 50s infinite, colorBodySecondary 80s infinite;
  box-shadow: none;
  .svg {
    @include media(min-width $landscape) {
      width: 70%;
    }
    @include media(max-width $landscape) {
      width: 12em;
    }
    margin: 2em auto;
    svg {
      fill: currentColor;
    }
  }
}
.project-tags {
  width: 85%;
  position: absolute;
  bottom: 1em;
  left: 2em;
  font-size: .75em;
  text-transform: uppercase;
}
.project-body {
  margin: 0 0 1em 0;
  @extend .font-body;
  img {
    width: 100%;
    box-shadow: -.5em .5em 0 0 currentColor;
    // box-shadow: -.5em .5em 1em 0 currentColor;
  }
}

.more-work {
  display: none;
}

// TESTIMONIALS
// ============================================================

.testimonial-item {
  margin: 0 .4em 1em;
  blockquote {
    margin: 0 0 1em;
    &::first-letter {
      margin-left: -.5em;
    }
  }
  cite {
    font-size: .75em;
    text-transform: uppercase;
  }
}

// ABOUT
// ============================================================

.about-body {
  & > p {
    @extend .font-body;
  }
}

.about-photo-david {
  background-image: url('../img/about-david-carroll-01.jpg');
}

.about-photo-family {
  background-image: url('../img/about-david-carroll-family.gif');
}

.about-photo {
  width: 100%;
  height: 16em;
  position: relative;
  background-color: currentColor;
  background-size: cover;
  background-blend-mode: screen;
  // border-radius: $border-radius;
}
.about-color-cover {
  width: 100%;
  height: 16em;
  position: absolute;
  animation: colorBodyPrimary 50s infinite;
  mix-blend-mode: multiply;
  // border-radius: $border-radius;
}

.about-timeline {
  display: none;
  text-align: left;
  margin: 0 0 4em 1.4em;
  .timeline-item {
    margin: 0 0 1em;
  }
  div {
    display: inline-block;
    vertical-align: top;
  }
  p {
    margin: 0;
  }
  .year {
    width: 18%;
    text-align: right;
  }
  .visual {
    width: 10%;
    font-size: 1.5em;
    text-align: center;
    svg {
      width: 70%;
      height: auto;
      display: inline;
    }
  }
  .event {
    width: 67%;
    @extend .font-body;
  }
}

ul.about-services {
  margin: 0 0 0 1.4em;
  display: none;
  li {
    margin: 0 0 1em;
    ul, li {
      list-style: circle;
    }
    ul li {
      margin: 0 0 0 3em;
    }
  }
}

.about-services-list {
  margin: .6em 0 0;
  @extend .font-body;
}

// JRIBBBLE
// ============================================================

.shots {
  .shot {
    width: 46%;
    margin: 0 4% 4% 0;
    display: inline-block;
    // border-radius: $border-radius;
    overflow: hidden;
    box-shadow: -.5em .5em 0 0 currentColor;
    img {
      width: 100%;
    }
  }
}

// FOOTER
// ============================================================

.footer {
  @extend .wrap;
  text-align: center;
}

// SOCIAL
// ============================================================

.social {
  text-align: center;
  li {
    width: 6%;
    margin: 0 2%;
    display: inline-block;
  }
}

