
// VARIABLES
// ============================================================

$base-font-size:	 16px;

$desktop:					 1140px;
$tablet:					 770px;
$landscape:				 600px;
$mobile:					 420px;
$mobile-xs:				 321px;

$font-primary:     'Space Mono', monospace;
$font-headline:    'Space Mono', monospace;
$font-body:        'Work Sans', serif;
$font-emoji:       'Symbola', sans-serif;

@include font-face('Symbola', '../font/symbola');

$border-radius:    5px;

$emoji-arrow-left:     "\21E4";
$emoji-arrow-right:    "\21E5";
$availability:         "\1F4E2";
$availability-no:      "\2716";
$email:                "\1F4E9";
$schedule:             "\1F4C6";
$info:                 "\2139";
$aboutme:              "\1F468";
$family:               "\1F495";
$world:                "\1F30E";
$laptop:               "\1F468\200D\1F4BB";
$testimonial:          "\1F4AC";
$brand:                "\1F6A9";
$design:               "\1F3A8";
$strategy:             "\1F4CA";
$dev:                  "\1F523";
$etc:                  "\1F4AF";
$arrow-up:             "\21E7";
$arrow-down:           "\2B0E";
$arrow-down-curve:     "\021AF";
$arrow-down-two:       "\23EC";
$plus:                 "\2795";
$minus:                "\2796";
$marriage:             "\1F48D";
$school:               "\1F393";
$bike:                 "\1F6B2";
$sunrise:              "\1F304";
$flash:                "\2728";
$born:                 "\1F423";
$move:                 "\1F4CD";
$question:             "\2753";
$top:                  "\1F51D";



// MIXINS

@mixin sequencePrimary($attribute) {
  0%   {#{$attribute}: aliceblue;}
  20%  {#{$attribute}: honeydew;}
  40%  {#{$attribute}: mistyrose;}
  60%  {#{$attribute}: ivory;}
  80%  {#{$attribute}: ghostwhite;}
  100% {#{$attribute}: aliceblue;}
}

@mixin sequenceSecondary($attribute) {
  0%   {#{$attribute}: darkred;}
  20%  {#{$attribute}: midnightblue;}
  40%  {#{$attribute}: darkgreen;}
  60%  {#{$attribute}: indigo;}
  80%  {#{$attribute}: teal;}
  100% {#{$attribute}: darkred;}
}

// ANIMATION

@keyframes colorBodyPrimary {
  @include sequencePrimary(background-color);
}

@keyframes colorBodySecondary {
  @include sequenceSecondary(background-color);
}

@keyframes colorSvgPrimary {
  @include sequencePrimary(fill);
}

@keyframes colorSvgSecondary {
  @include sequenceSecondary(fill);
}

@keyframes colorTextPrimary {
  @include sequencePrimary(color);
}

@keyframes colorTextSecondary {
  @include sequenceSecondary(color);
}

@keyframes colorBorderSecondary {
  @include sequenceSecondary(border-color);
}


