
// VARIABLES
// ============================================================

$base-font-size:	 16px;

$desktop:					 1140px;
$tablet:					 770px;
$landscape:				 600px;
$mobile:					 420px;
$mobile-xs:				 321px;

$font-primary:     'Space Mono', monospace;
$font-headline:    'Space Mono', monospace;
$font-body:        'Work Sans', serif;
$font-emoji:       'Symbola', sans-serif;

@include font-face('Symbola', '../font/symbola');

$border-radius:    5px;

// EXTENDS

.font-body {
  font-family: $font-body;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1.8em;
  font-style: initial;
  text-align: left;
}

// MIXINS

@mixin sequencePrimary($attribute) {
  0%   {#{$attribute}: mistyrose;}
  20%  {#{$attribute}: aliceblue;}
  40%  {#{$attribute}: ivory;}
  60%  {#{$attribute}: honeydew;}
  80%  {#{$attribute}: ghostwhite;}
  100% {#{$attribute}: mistyrose;}
}

@mixin sequenceSecondary($attribute) {
  0%   {#{$attribute}: midnightblue;}
  20%  {#{$attribute}: darkgreen;}
  40%  {#{$attribute}: darkred;}
  60%  {#{$attribute}: indigo;}
  80%  {#{$attribute}: teal;}
  100% {#{$attribute}: midnightblue;}
}

// ANIMATION

@keyframes colorBodyPrimary {
  @include sequencePrimary(background-color);
}

@keyframes colorBodySecondary {
  @include sequenceSecondary(background-color);
}

@keyframes colorSvgPrimary {
  @include sequencePrimary(fill);
}

@keyframes colorSvgSecondary {
  @include sequenceSecondary(fill);
}

@keyframes colorTextPrimary {
  @include sequencePrimary(color);
}

@keyframes colorTextSecondary {
  @include sequenceSecondary(color);
}

@keyframes colorBorderSecondary {
  @include sequenceSecondary(border-color);
}


