extends _base.pug

block content

	.section.logo
		include _svg/logo-hazeltine.pug
		span.logo-label.logo-label-1 .co
		span.logo-label.logo-label-2 brand &amp; digital design


	.section.intro
		p I’m David Carroll, a full-time freelance designer passionate about building brand systems, thoughtful user experience, and generally helping folks get to the next level, whatever that may look like.
		p I started Hazeltine to help you!
		p #[a(href='mailto:david@hazeltine.co') Let's talk]

	include _includes/project-rayback.pug
	include _includes/project-humanwire.pug
	include _includes/project-launchlab.pug
	include _includes/project-magnana.pug
	include _includes/project-bossdrop.pug
	include _includes/project-wefoughtback.pug