extends _base.pug

block content

	div.section.availability
		p #[span.emoji &#x1F64C;] Currently available. #[a(href="https://www.vyte.in/hazeltinedesign" target="_blank") Schedule time to chat]

	div.section.logo
		include _svg/logo-hazeltine.pug
		span.logo-label.logo-label-1 .co
		span.logo-label.logo-label-2 brand &amp; digital design

	div.section.intro
		p I&rsquo;m David Carroll, a full-time freelance designer looking to collaborate with genuine people on projects they care about.
		p Is that you? #[a(href="https://www.vyte.in/hazeltinedesign" target="_blank") #[span.emoji &#x1F4C6;] Schedule time] or #[a(href="mailto:david@hazeltine.co" target="_blank") #[span.emoji &#x1F4EC;] email me].
		p #[a(href="#about") Learn more about me]
		p Here&rsquo;s some recent work&hellip;

	include _includes/projects.pug

	include _includes/testimonials.pug

	include _includes/about.pug