html

	include _includes/head.pug

	body

	include _includes/variables.pug
	
	.wrap

		include _includes/intro.pug

		include _includes/projects.pug

		include _includes/testimonials.pug

		include _includes/about.pug

		include _includes/dribbble.pug

	include _includes/footer.pug