extends _base.pug

block content

	div.section.availability
		p #[a(href="mailto:david@hazeltine.co") #[span.emoji.emoji-availability]Currently taking new projects]

	div.logo
		include _svg/logo-hazeltine.pug
		span.logo-label.logo-label-1 .co
		span.logo-label.logo-label-2 brand &amp; digital design

	div.section.intro
		div.intro-body
			p I&rsquo;m David Carroll, a full-time freelance designer looking to collaborate with genuine people on projects they care about.
		div.intro-links
			p #[a(href="https://www.vyte.in/hazeltinedesign" target="_blank") #[span.emoji.emoji-schedule]Schedule time] or #[a(href="mailto:david@hazeltine.co" target="_blank") #[span.emoji.emoji-email]send an email]
			p #[a(href="#about") #[span.emoji.emoji-info]Read my bio]

	include _includes/projects.pug

	include _includes/testimonials.pug

	include _includes/about.pug

	include _includes/dribbble.pug